{% load i18n %}
<!--
{% url 'core:home' as the_url %}
<a class="navbar-item{% if request.path == the_url %} is-active{% endif %}" href="{{ the_url }}">{% trans 'Home' %}</a>
-->
{% url 'projects:product-list' as the_url %}
<a class="navbar-item{% if request.path == the_url %} is-active{% endif %}" href="{{ the_url }}">{% trans 'Products' %}</a>
{% url 'projects:sprint-list' as the_url %}
<a class="navbar-item{% if request.path == the_url %} is-active{% endif %}" href="{{ the_url }}">{% trans 'Sprints' %}</a>
