{% extends "core/page.html" %}

{% block section %}
<section class="my-5">
    <div class="container">
        <div class="row">
            {% if object.featured_image %}
            <div class="col-4">
                {% with image = object.featured_image %}
                {% include "core/elements/image_with_modal.html" %}
                {% endwith %}
            </div>
            {% endif %}
            <div class="col">
                <div class="row">
                    <div class="col my-auto">
                        <h1>
                            {% if object.fontawesome5_class %}
                                <i class="{{ object.fontawesome5_class }}"></i>
                            {% endif %}
                            {{ object.title }}
                        </h1>
                    </div>
                    <div class="col-auto text-right my-auto">
                        {% block menu %}
                            {% if object.get_create_url %}
                            <a class="btn btn-primary" href="{{ object.get_create_url() }}">
                                <i class="fas fa-plus"></i>
                                {% if object.fontawesome5_class %}
                                <i class="{{ object.fontawesome5_class }}"></i>
                                {% endif %}
                                {{ object.title }}
                            </a>
                            {% endif %}
                        {% endblock menu %}
                    </div>
                </div>
                <p class="lead">{{ object.short_description }}</p>
            </div>
        </div>
        <div class="row my-5">
            <div class="col">
                <div class="card-columns">
                    {% block object_list %}
                        {% for object in object_list %}
                            {% include "core/cards/object.html" %}
                        {% endfor %}
                    {% endblock object_list %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock section %}
