<table class="table table-striped">
    <thead>
        <tr>
            <th width="10%" scope="col" class="text-center">#</th>
            <th scope="col">{{ _('name') }}</th>
            <th width="20%" scope="col" class="text-center">{{ _('quantity') }}</th>
            <th width="20%" scope="col" class="text-center">{{ _('price') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for component in components %}
        <tr>
            <th scope="row" class="text-center">{{ loop.index }}</th>
            <td>
                {% if component.slug %}
                    {% set publication = get_publication(component.slug) %}
                    {% if publication %}
                        {% with object = publication %}
                        <a href="#" data-toggle="modal" data-target=".object-{{ object.id }}">
                            {{ component.name if component.name else _('unknown') }}
                        </a>
                        {% include "core/modals/object.html" %}
                        {% endwith %}
                    {% else %}
                        {{ component.name if component.name else _('unknown') }}
                    {% endif %}
                {% else %}
                    {{ component.name if component.name else _('unknown') }}
                {% endif %}
            </td>
            <td class="text-center">{{ component.quantity if component.quantity }} {{ component.unit if component.unit != '-' }}</td>
            <td class="text-center">
                {% if component.price and component.currency %}
                {{  component.price|format_currency(locale=lang.code, currency=component.currency) }}
                {% else %}
                -
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
