{% extends "core/page.html" %}

{% block section %}
<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                {% include "core/elements/image_with_modal.html" %}
            </div>
            <div class="col-lg-4 col-md-12">
                <h1>{{ image.title }}</h1>
                <span class="text-muted">{{ image.id }}</span>
                <p class="lead">
                    {{ image.shooted_at|format_datetime(locale=lang.code, format='long') }}
                </p>

                <p>
                    <span class="font-weight-bold">{{ _('creation') }}</span>
                    <br>
                    <a href="{{ image.created_by.get_absolute_url() }}">{{ image.created_by }}</a>
                    <br>
                    {{ image.created_at|format_datetime(locale=lang.code) }}
                </p>

                <p>
                    <span class="font-weight-bold">{{ _('last modification') }}</span>
                    <br>
                    <a href="{{ image.changed_by.get_absolute_url() }}">{{ image.changed_by }}</a>
                    <br>
                    {{ image.changed_at|format_datetime(locale=lang.code) }}
                </p>

                <p>
                    <span class="font-weight-bold">{{ _('short description') }}</span>
                    <br>
                    {% if short_description %}
                    {{ image.short_description|to_markdown|safe }}
                    {% else %}
                    <span class="font-italic text-muted">{{ _('none') }}</span>
                    {% endif %}
                </p>

                <p>
                    <span class="font-weight-bold">{{ _('alternative text') }}</span>
                    <br>
                    {{ image.alt }}
                </p>

                <p>
                    <span class="font-weight-bold">{{ _('license') }}</span>
                    <br>
                    {% if image.license %}
                    © {{ image.shooted_at.year }}
                    {% if image.credit %}
                    {{ image.credit|safe }}
                    {% else %}
                    <a href="{{ image.owner.get_absolute_url() }}">{{ image.owner.get_full_name() }}</a>
                    {% endif %}
                    –
                    <a href="#" title="{{ image.get_license_display() }}">{{ image.license }}</a>
                    {% elif image.credit %}
                    © {{ image.shooted_at.year }} {{ image.credit|safe }}
                    {% else %}
                    <a href="#" title="If you find a picture that doesn’t have a license, that generally means you have no permission from the creators of the picture to use, modify, or share the picture.">
                        <i class="fas fa-exclamation-triangle"></i>
                        {{ _('no license') }}
                    </a>
                    {% endif %}
                </p>

                <p>
                    <span class="font-weight-bold">{{ _('tags') }}</span>
                    <br>
                    {% if image.tags %}
                    {% for tag in image.tags %}
                    <a href="#" class="badge badge-pill badge-secondary">{{ tag }}</a>
                    {% endfor %}
                    {% else %}
                    <span class="font-italic text-muted">{{ _('none') }}</span>
                    {% endif %}
                </p>
            </div>
            <div class="col-lg-2 col-12 text-right">
                {% if request.user == image.owner %}
                <div class="sticky pt-lg-5">
                    <a href="{{ image.get_update_url() }}"><i class="fas fa-edit"></i> {{ _('edit') }}</a>
                    <br>
                    <a href="{{ image.get_delete_url() }}"><i class="fas fa-times"></i> {{ _('delete') }}</a>
                </div>
                {% endif %}
            </div>
        </div>
        {% set exif = image.get_labeled_exif() %}
        {% if exif %}
        <div class="row">
            <div class="col mt-3">
                <h2>{{ _('EXIF') }}</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Key</th>
                            <th scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for a, b in exif.items() %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ a }}</td>
                            <td>{{ b }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock section %}
