{% extends "core/page.html" %}

{% block section %}
<section class="mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ _('image gallery') }}</h1>
                <div class="card-columns">
                    {% for image in object_list %}
                    {% include "core/cards/image.html" %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock section %}
