{% extends "core/page.html" %}

{% block section %}
<section class="mt-auto">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-8 col-md-10 p-5">
                <h1 class="display-4">{{ request.site.name }}</h1>
                <p class="lead font-italic">{{ request.site.workshop.tagline }}</p>
                <p class="lead text-primary">{{ request.site.workshop.short_description|to_markdown|safe }}</p>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center text-center">
            <div class="col-lg-3 col-md-4 col-sm-6 col-8">
                <div class="image-crop image-crop-1-1">
                    <a class="h2 text-info" href="{{ url('core:project-list') }}">
                        <div>
                            <span style="font-size: 7.5rem;"><i class="fas fa-cogs"></i></span>
                        </div>
                        <span class="h2">{{ _('Projects') }}</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-8">
                <div class="image-crop image-crop-1-1">
                    <a class="h2 text-success" href="{{ url('core:publication-list') }}">
                        <div>
                            <span style="font-size: 7.5rem;"><i class="fas fa-feather-alt"></i></span>
                        </div>
                        <span class="h2">{{ _('Publications') }}</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-8">
                <div class="image-crop image-crop-1-1">
                    <a class="h2 text-warning" href="{{ url('core:image-list') }}">
                        <div>
                            <span style="font-size: 7.5rem;"><i class="far fa-images"></i></span>
                        </div>
                        <span class="h2">{{ _('Image gallery') }}</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-8">
                <div class="image-crop image-crop-1-1">
                    <a class="h2 text-danger" href="{{ url('accounts:user-list') }}">
                        <div>
                            <span style="font-size: 7.5rem;"><i class="fas fa-users"></i></span>
                        </div>
                        <span class="h2">{{ _('Users') }}</span>
                    </a>
                </div>
            </div>
        </div>
        <hr class="my-5">
        <div class="w-25 mx-auto">
        </div>
    </div>
</section>
{% endblock section %}
