{% extends "core/object_list.html" %}

{% block menu %}
<a class="btn btn-danger mx-1" href="{{ url('core:image-create') }}">
    <i class="fas fa-plus"></i>
    <i class="far fa-image"></i>
    {{ _('image') }}
</a>
<a class="btn btn-info mx-1" href="{{ url('core:note-create') }}">
    <i class="fas fa-plus"></i>
    <i class="fas fa-pencil-alt"></i>
    {{ _('note') }}
</a>
<a class="btn btn-success mx-1" href="#" data-toggle="modal" data-target=".link-create">
    <i class="fas fa-plus"></i>
    <i class="fas fa-link"></i>
    {{ _('link') }}
</a>
{% include "core/modals/link_create.html" %}
{% endblock menu %}

{% block object_list %}
    {% for object in object_list %}
        {% if object.__class__.__name__ == "Image" %}
            {% with image=object %}
                {% include "core/cards/image.html" %}
            {% endwith %}
        {% elif object.__class__.__name__ == "Link" %}
            {% include "core/cards/link.html" %}
        {% elif object.__class__.__name__ == "Note" %}
            {% include "core/cards/note.html" %}
        {% else %}
            <div class="bg-dark">{{ object }}</div>
        {% endif %}
    {% endfor %}
{% endblock object_list %}
