{% extends "core/page.html" %}

{% block section %}
<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-12">
                <div class="sticky pt-lg-5">
                    {% if object.body.parts or object.body.supply or object.body.tools %}
                    <a href="#components">
                        <span class="font-weight-bold text-uppercase">{{ _('Components') }}</span>
                    </a>
                    <ul class="list-unstyled">
                        {% if object.body.parts %}
                        <li><a href="#parts">{{ _('parts') }}</a></li>
                        {% endif %}
                        {% if object.body.supply %}
                        <li><a href="#supply">{{ _('supply') }}</a></li>
                        {% endif %}
                        {% if object.body.tools %}
                        <li><a href="#tools">{{ _('tools') }}</a></li>
                        {% endif %}
                    </ul>
                    {% endif %}
                    {% if object.body.steps %}
                    <a href="#step-1">
                        <span class="font-weight-bold text-uppercase">{{ _('steps') }}</span>
                    </a>
                    <ul class="list-unstyled">
                        {% for step in object.body.steps %}
                        <li><a href="#step-{{ loop.index }}">{{ loop.index }}. {{ step.title }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-8 col-12">
                <div class="row align-items-center">
                    <div class="col">
                        <h1>{{ object.title }}</h1>
                    </div>
                    {% if request.user == object.owner %}
                    <div class="col-auto text-right">
                        <a class="btn btn-primary" href="{{ object.get_update_url() }}"><i class="fas fa-edit"></i> {{ _('edit') }}</a>
                    </div>
                    {% endif %}
                </div>
                <div class="row mb-3">
                    {% if object.owner.photo %}
                    <div class="col-md-auto my-auto">
                        <img height="64" class="rounded-circle" src="{{ object.owner.photo.url }}" alt="{{ object.owner }}">
                    </div>
                    {% endif %}
                    <div class="col my-auto">
                        <span class="h5"><a href="{{ object.owner.get_absolute_url() }}">{{ object.owner }}</a></span><br>
                        <span class="text-muted">{{ object.published_at|format_date(locale=lang.code, format='full') }}</span>
                    </div>
                    <div class="col-md-auto my-auto h5">
                        <a class="text-dark mr-2" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="text-dark mr-2" href="#"><i class="fab fa-facebook"></i></a>
                        <a class="text-dark mr-2" href="#"><i class="fab fa-instagram"></i></a>
                        <a class="text-dark mr-2" href="#"><i class="fab fa-linkedin"></i></a>
                        <a class="text-dark mr-2" href="#"><i class="far fa-envelope"></i></a>
                        <a class="text-dark mr-2" href="#"><i class="far fa-file-pdf"></i></a>
                    </div>
                </div>
                <p class="lead">
                    {{ object.short_description|to_markdown|safe }}
                </p>
                {% if object.featured_image %}
                {% with image = object.featured_image %}
                {% include "core/elements/image_with_modal.html" %}
                {% endwith %}
                {% endif %}
            </div>
            <div class="col-lg-2 col-12 text-right">
                <div class="sticky pt-lg-5">
                </div>
            </div>
        </div>

        {% if object.type.has_steps %}

        <div class="row">
            <div class="col-lg-1 col-12 d-none d-lg-block">
                <div class="sticky pt-lg-5">
                    <a href="#top" title="{{ _('top') }}"><i class="fas fa-chevron-up"></i></a>
                </div>
            </div>
            <div class="col-lg-10 col-12">
                {% if object.body.parts or object.body.supply or object.body.tools %}
                <div class="my-5" id="components">
                    <hr>
                </div>
                <h2 class="text-center">{{ _('Components') }}</h2>
                {% endif %}

                {% if object.body.parts %}
                <h3 id="parts">{{ _('Parts') }}</h3>
                {% with components = object.body.parts %}
                {% include "core/tables/components.html" %}
                {% endwith %}
                {% endif %}

                {% if object.body.supply %}
                <h3 id="supply">{{ _('Supply') }}</h3>
                {% with components = object.body.supply %}
                {% include "core/tables/components.html" %}
                {% endwith %}
                {% endif %}

                {% if object.body.tools %}
                <h3 id="tools">{{ _('Tools') }}</h3>
                {% with components = object.body.tools %}
                {% include "core/tables/components.html" %}
                {% endwith %}
                {% endif %}

                {% if object.body.steps %}
                {% for step in object.body.steps %}
                <div class="my-5 row justify-content-center" id="step-{{ loop.index }}">
                    <div class="col-md-8 col-12">
                        <hr>
                    </div>
                </div>
                <div class="row justify-content-center">
                    {% if step.images %}
                    <div class="col-md-6 col-12">
                        <div class="row row-cols-3">
                            {% for image_id in step.images %}
                            <div class="col{{ ' col-12' if loop.index == 1 }}">
                                {% set image = get_image(image_id) %}
                                {% if image %}
                                {% include "core/elements/image_with_modal.html" %}
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <h2>{{ _('Step #') }}{{ loop.index }} - {{ step.title }}</h2>
                        <p>{{ step.body|to_markdown|safe }}</p>
                    </div>
                    {% else %}
                    <div class="col-md-8 col-12">
                        <h2 class="text-center">{{ _('Step #') }}{{ loop.index }} - {{ step.title }}</h2>
                        <p>{{ step.body|to_markdown|safe }}</p>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
                {% endif %}

            </div>
            <div class="col-lg-1 col-12 text-right">
                {% if request.user == object.owner %}
                <div class="sticky pt-lg-5">
                    <a class="btn btn-primary" href="{{ object.get_update_body_url() }}"><i class="fas fa-edit"></i> {{ _('edit') }}</a>
                </div>
                {% endif %}
            </div>
        </div>

        {% else %}

        <div class="row">
            <div class="col-lg-2 col-12 d-none d-lg-block">
                <div class="sticky pt-lg-5">
                    <a href="#top" title="{{ _('top') }}"><i class="fas fa-chevron-up"></i></a>
                </div>
            </div>
            <div class="col-lg-8 col-12">
                <div class="my-5">
                    <hr>
                </div>
                {% if object.body.paragraphs %}
                {% for paragraph in object.body.paragraphs %}

                {% if paragraph.textarea %}
                {{ paragraph.textarea|to_markdown|safe }}
                {% endif %}

                {% if paragraph.image %}
                {% set image = get_image(paragraph.image) %}
                {% if image %}
                <div class="w-75 mx-auto my-5">
                    {% include "core/elements/image_with_modal.html" %}
                </div>
                {% endif %}
                {% endif %}

                {% if paragraph.link %}
                {% with %}
                {% set object = get_link(paragraph.link) %}
                {% if object %}
                <div class="my-5">
                    {% include "core/elements/link.html" %}
                </div>
                {% endif %}
                {% endwith %}
                {% endif %}

                {% endfor %}
                {% endif %}
            </div>
            <div class="col-lg-2 col-12 text-right">
                {% if request.user == object.owner %}
                <div class="sticky pt-lg-5">
                    <a href="{{ object.get_update_body_url() }}"><i class="fas fa-edit"></i>{{ _('edit') }}</a>
                </div>
                {% endif %}
            </div>
        </div>

        {% endif %}

        <div class="row justify-content-md-center mb-5 text-center">
            <div class="col-lg-8 col-12">
                <div class="my-5">
                    <hr>
                </div>
                <p>
                    <a href="{{ object.type.get_absolute_url() }}" class="badge badge-pill badge-{{ object.type.bootstrap4_color }}"><i class="{{ object.type.fontawesome5_class }}"></i> {{ object.type }}</a>
                    {% for tag in object.tags %}
                    <a href="#" class="badge badge-pill badge-secondary">{{ tag }}</a>
                    {% endfor %}
                    {% if object.get_statuses and request.user.is_authenticated %}
                    {% for status in object.get_statuses() %}
                        {{ badge_pill.visibility(status) }}
                    {% endfor %}
                    {% endif %}
                </p>
                <p>
                    {% if object.license %}
                    {{ _('This publication is licensed')}} <a href="#" title="{{ object.get_license_display() }}">{{ object.license }}</a>.
                    {% else %}
                    <i class="fas fa-exclamation-triangle"></i> No license has been specified for the content of this publication!
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock section %}
