<footer class="footer mt-auto bg-dark">
    <div class="container-fluid bg-light">
        <div class="row justify-content-md-center">
            <div class="col-md-4 mt-4">
                <h4 class="text-uppercase">{{ request.site.name }}</h4>
                {% if request.site.workshop.footer %}
                <p>{{ request.site.workshop.footer|to_markdown|safe }}</p>
                {% else %}
                <p>{{ request.site.workshop.short_description|to_markdown|safe }}</p>
                {% endif %}
                <h5 class="text-uppercase">{{ _('follow us') }}</h5>
                <div class="my-4">
                    {% include 'core/footer/social.html' %}
                </div>
            </div>
            <hr class="w-100 d-md-none">
            <div class="col-md-2 mt-4">
                <h5 class="text-uppercase">{{ _('links') }}</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                <ul class="list-unstyled">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                </ul>
            </div>
            <div class="col-md-2 mt-4">
                <h5 class="text-uppercase">{{ _('sitemap') }}</h5>
                {% include 'core/footer/sitemap.html' %}
            </div>
            <div class="col-md-2 mt-4">
                <h5 class="text-uppercase">{{ _('archives') }}</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                <ul class="list-unstyled">
                    <li><a href="#">2020</a></li>
                    <li><a href="#">2019</a></li>
                    <li><a href="#">...</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% include 'core/footer/copyright.html' %}
</footer>
