<ul class="list-unstyled">
    {% for node in pages recursive %}
    {% set children = node.get_children() %}
    <li>
        <a href="{{ node.get_absolute_url() }}">{{ node }}</a>
        {% if children %}
        <ul>{{ loop(children) }}</ul>
        {% endif %}
    </li>
    {% endfor %}
    <li>
        <a href="{{ url('core:project-list') }}">{{ _('Projects') }}</a>
        <ul>
            {% for project_type in project_types %}
            <li><a href="{{ project_type.get_absolute_url() }}">{{ project_type }}</a></li>
            {% endfor %}
        </ul>
    </li>
    <li>
        <a href="{{ url('core:publication-list') }}">{{ _('Publications') }}</a>
        <ul>
            {% for publication_type in publication_types %}
            <li><a href="{{ publication_type.get_absolute_url() }}">{{ publication_type }}</a></li>
            {% endfor %}
        </ul>
    </li>
    <li><a href="{{ url('core:image-list') }}">{{ _('Images') }}</a></li>
    <li><a href="{{ url('accounts:user-list') }}">{{ _('Users') }}</a></li>
</ul>
