<header class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <h1 class="title">
                        <span class="icon mr-3">
                            <i class="{{ request.site.sitecustomization.fontawesome_site_icon }}"></i>
                        </span>
                        <span>{{ request.site.name }}</span>
                    </h1>
                    <h2 class="subtitle">{{ request.site.sitecustomization.tagline }}</h2>
                </div>
                <div class="column is-one-quarter has-text-centered">
                    {% include 'core/forms/search.html' %}
                </div>
            </div>
        </div>
    </div>
</header>
