<div class="card mb-5">
    <div class="card-body">
        <a href="#" data-toggle="modal" data-target=".object-{{ object.id }}">
            <h5 class="card-title">
                <i class="fas fa-pencil-alt"></i>
                {{ object.title }}
            </h5>
            <p class="card-text text-body">
                {% if object.short_description %}
                {{ object.short_description|truncate(150) }}
                {% else %}
                <span class="font-italic">{{ _('empty note...') }}</span>
                {% endif %}
            </p>
        </a>
        {% include "core/modals/note.html" %}
    </div>
    <div class="card-footer text-muted">
        {{ badge_pill.a_tag_object('note') }}
        {% for tag in object.tags %}
            {{ badge_pill.a_tag(tag) }}
        {% endfor %}
    </div>
    {% if request.user == object.owner %}
    {% include "core/cards/footer_owner.html" %}
    {% endif %}
</div>
