<div class="card mb-5">
    <a href="#" data-toggle="modal" data-target=".user-{{ user.username }}">
        {% if user.photo %}
        <div class="image-crop image-crop-1-1">
            <img class="image-crop rounded-lg" src="{{ user.photo.url }}" alt="{{ user.get_full_name() }}">
        </div>
        {% else %}
        <div class="image-crop image-crop-1-1">
            <div>
                <span class="text-danger" style="font-size: 7.5rem;"><i class="fas fa-user"></i></span>
            </div>
        </div>
        {% endif %}
    </a>
    {% include "core/modals/user.html" %}
    <div class="card-body">
        <h5 class="card-title">{{ user.get_full_name() }}</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="card-footer text-muted">
        {% for tag in ['un', 'deux', 'trois'] %}
        <a href="#" class="badge badge-secondary">{{ tag }}</a>
        {% endfor %}
    </div>
</div>
