{% macro og_image_type(url) %}{% set mimetype = guess_type(url)[0] %}{% if mimetype != None %}<meta property="og:image:type" content="{{ mimetype }}">{% endif %}{% endmacro %}
    <!-- Open Graph Data | Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    {% if request.site.workshop.twitter_site %}
    <meta name="twitter:site" content="{{ request.site.workshop.twitter_site }}">
    {% endif %}
    {% if request.site.workshop.facebook_app_id %}

    <!-- Open Graph Data | Facebook app ID -->
    <meta name="fb:app_id" content="{{ request.site.workshop.facebook_app_id }}">
    {% endif %}

    {% if user %}
    <!-- Open Graph Data | Profile -->
    <meta property="og:title" content="{{ user.get_full_name() }}">
    <meta property="og:type" content="profile">
    <meta property="og:url" content="{{ request.build_absolute_uri() }}">
        {% if user.first_name %}
    <meta property="og:profile:first_name" content="{{ user.first_name }}">
        {% endif %}
        {% if user.last_name %}
    <meta property="og:profile:last_name" content="{{ user.last_name }}">
        {% endif %}
        {% if user.username %}
    <meta property="og:profile:username" content="{{ user.username }}">
        {% endif %}
        {% if user.gender %}
    <meta property="og:profile:gender" content="{{ user.gender }}">
        {% endif %}
        {% if user.photo %}
    <meta property="og:image" content="request.build_absolute_uri(user.photo.url)">
    <meta property="og:image:alt" content="{{ user.get_full_name() }}">
    {{ og_image_type(user.photo.url) }}
        {% else %}
    <!-- photo de profil par défaut ? -->
        {% endif %}
        {% if user.biography %}
    <meta property="og:description" content="{{ user.biography }}">
        {% endif %}
    {% elif image %}
    <!-- Open Graph Data | Image -->
    <meta property="og:title" content="Titre de l'image">
    <meta property="og:type" content="image">
    <meta property="og:url" content="{{ request.build_absolute_uri() }}">
        {% if image.caption %}
    <meta property="og:description" content="{{ image.caption }}">
        {% endif %}
    <meta property="og:image" content="{{ request.build_absolute_uri(image.picture.url) }}">
        {% if image.alt %}
    <meta property="og:image:alt" content="{{ image.alt }}">
        {% endif %}
    {{ og_image_type(image.picture.url) }}
        {% if image.tags %}
            {% for tag in image.tags %}
    <meta property="og:image:tag" content="{{ tag }}">
            {% endfor %}
        {% endif %}
    {% elif object %}
    <!-- Open Graph Data | Article -->
    <meta property="og:title" content="{{ object.title }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ request.build_absolute_uri() }}">
        {% if object.short_description %}
    <meta property="og:description" content="{{ object.short_description }}">
        {% endif %}
        {% if object.featured_image %}
    <meta property="og:image" content="{{ request.build_absolute_uri(object.featured_image.picture.url) }}">
            {% if object.featured_image.alt %}
    <meta property="og:image:alt" content="{{ object.featured_image.alt }}">
            {% endif %}
    {{ og_image_type(object.featured_image.picture.url) }}
        {% else %}
    <!-- image alternative ? celle du type de publication par exemple ? -->
        {% endif %}
        {% if object.published_at %}
    <meta property="og:article:published_time" content="{{ object.published_at }}">
        {% endif %}
        {% if object.changed_at %}
    <meta property="og:article:modified_time" content="{{ object.changed_at }}">
        {% endif %}
        {% if object.expire_at %}
    <meta property="og:article:expiration_time" content="{{ object.expire_at }}">
        {% endif %}
        {% if object.author %}
    <meta property="og:article:author" content="{{ object.author.get_full_name() }}">
            {% if object.author.twitter_username %}
    <meta name="twitter:creator" content="{{ object.author.twitter_username }}">
            {% endif %}
        {% endif %}
        {% if object.section %}
    <meta property="og:article:section" content="{{ object.section }}">
        {% endif %}
        {% if object.tags %}
            {% for tag in object.tags %}
    <meta property="og:article:tag" content="{{ tag }}">
            {% endfor %}
        {% endif %}
    {% else %}
    <!-- Open Graph Data | Website -->
        {% if request.site.workshop.tagline %}
    <meta property="og:title" content="{{ request.site.name }} | {{ request.site.workshop.tagline }}">
        {% else %}
    <meta property="og:title" content="{{ request.site.name }}">
        {% endif %}
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.build_absolute_uri(url('core:home')) }}">
        {% if request.site.workshop.short_description %}
    <meta property="og:description" content="{{ request.site.workshop.short_description }}">
        {% endif %}
        {% if request.site.workshop.logo %}
    <meta property="og:image" content="{{ request.build_absolute_uri(request.site.workshop.logo.url) }}">
    <meta property="og:image:alt" content="logo">
    {{ og_image_type(request.site.workshop.logo.url) }}
        {% endif %}
        {% if request.site.workshop.tags %}
            {% for tag in request.site.workshop.tags %}
    <meta property="og:tag" content="{{ tag }}">
            {% endfor %}
        {% endif %}
    {% endif %}
    <meta property="og:site_name" content="{{ request.site.name }}">

    <!-- Open Graph Data | Locales -->
    <meta property="og:locale" content="{{ lang.code }}">
    {% for language in languages %}
    {% if language.code != lang.code %}
    <meta property="og:locale:alternate" content="{{ language.code }}">
    {% endif %}
    {% endfor %}
