{% if pages %}
{% for page in pages %}
{% set children = page.get_descendants() %}
{% if children %}
<li class="nav-item btn-group dropdown {{ 'active' if page == root }}">
    <a class="nav-link" href="{{ page.get_absolute_url() }}" role="button">{{ page.title }}</a>
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></a>
    <div class="dropdown-menu">
        {% for child in children %}
        <a class="dropdown-item {{ 'active' if child == object }}" href="{{ child.get_absolute_url() }}">{{ (child.level - 1) * '&nbsp;&nbsp;'|safe }}{{ child.title }}</a>
        {% endfor %}
    </div>
</li>
{% else %}
<li class="nav-item {{ 'active' if page == root }}">
    <a class="nav-link" href="{{ page.get_absolute_url() }}">{{ page.title }}</a>
</li>
{% endif %}
{% endfor %}
{% endif %}
