{% extends "core/page.html" %}

{% block section %}
<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-12">
            </div>
            <div class="col-lg-3 col-md-6 mt-lg-0 mt-3">
                {% if user.photo %}
                <div class="image-crop image-crop-1-1">
                    <img class="image-crop rounded-lg" src="{{ user.photo.url }}" alt="{{ user.get_full_name() }}">
                </div>
                {% else %}
                <div class="image-crop image-crop-1-1">
                    <div>
                        <span class="text-dark" style="font-size: 7.5rem;"><i class="fas fa-user"></i></span>
                    </div>
                </div>
                {% endif %}
                <div class="text-center mt-4">
                    {% include 'accounts/social.html' %}
                </div>
            </div>
            <div class="col-lg-5 col-md-6 mt-lg-0 mt-3">
                <div class="row align-items-center">
                    <div class="col">
                        <h1>{{ user.get_full_name() }}</h1>
                    </div>
                    {% if request.user == user %}
                    <div class="col-auto text-right">
                        <a class="btn btn-primary" href="{{ user.get_update_url() }}"><i class="fas fa-edit"></i> {{ _('edit') }}</a>
                    </div>
                    {% endif %}
                </div>
                <p class="lead">{{ user.get_username() }}</p>
                <p>{{ _('date joined') }} : {{ user.date_joined|format_date(locale=lang.code) }}</p>
                {{ badge_pill.a_tag_object('user') }}
                {% for tag in user.tags %}
                    {{ badge_pill.a_tag(tag) }}
                {% endfor %}
                {% if user.short_description %}
                    <h2 class="mt-3">{{ _('about me') }}</h2>
                    {{ user.short_description|to_markdown|safe }}
                {% endif %}
            </div>
            <div class="col-lg-2 col-md-12 mt-lg-0 mt-3">
            </div>
        </div>
    </div>
</section>
{% endblock section %}
