{% url 'publications:publication-list' as the_url %}
<div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link{% if request.path == the_url %} is-active{% endif %}">
        <span class="icon mr-1">
            <i class="{{ publication_menu.icon }}"></i>
        </span>
        <span>{{ publication_menu.title }}</span>
    </a>

    <div class="navbar-dropdown">
        {% for item in publication_menu.items %}
        <a class="navbar-item" href="{{ item.url }}">
            <span class="icon mr-1">
                <i class="{{ item.icon }}"></i>
            </span>
            <span>{{ item.text }}</span>
        </a>
        {% endfor %}
    </div>
</div>
