<div class="modal fade object-{{ object.id }}" tabindex="-1" role="dialog" aria-labelledby="object-{{ object.id }}" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ object.title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-4">
                        {% if object.featured_image %}
                        {% with image = object.featured_image %}
                        {% include "core/elements/image.html" %}
                        {% endwith %}
                        {% else %}
                        <div class="image-crop image-crop-1-1">
                            <div>
                                <span class="text-{{ object.type.bootstrap4_color }}" style="font-size: 7.5rem;"><i class="{{ object.type.fontawesome5_class }}"></i></span>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-8">
                        <p class="h3">{{ object.title }}</p>
                        <p class="lead">
                            {% if object.published_at %}
                            {{ object.published_at|format_date(locale=lang.code, format='full') }}
                            {% else %}
                            {{ object.created_at|format_date(locale=lang.code, format='full') }}
                            {% endif %}
                            <br>
                            {% if object.contributors %}
                            {% for contributor in object.contributors.all() %}
                            <a href="{{ contributor.get_absolute_url() }}"><i class="fas fa-user"></i> {{ contributor }}</a><br>
                            {% endfor %}
                            {% else %}
                            <a href="{{ object.owner.get_absolute_url() }}"><i class="fas fa-user"></i> {{ object.owner }}</a><br>
                            {% endif %}
                        </p>
                        <p>
                            <a href="{{ object.type.get_absolute_url() }}" class="badge badge-pill badge-{{ object.type.bootstrap4_color }}"><i class="{{ object.type.fontawesome5_class }}"></i> {{ object.type }}</a>
                            {% for tag in object.tags %}
                            <a href="#" class="badge badge-pill badge-secondary">{{ tag }}</a>
                            {% endfor %}
                            {% if object.get_statuses and request.user.is_authenticated %}
                            {% for status in object.get_statuses() %}
                                {{ badge_pill.visibility(status) }}
                            {% endfor %}
                            {% endif %}
                        </p>
                        {{ object.short_description|to_markdown|safe }}
                        {% if object.license %}
                        <small class="text-muted">
                            {{ _('This publication is licensed')}} <a href="#" title="{{ object.get_license_display() }}">{{ object.license }}</a>.
                        </small>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('close') }}</button>
                <a class="btn btn-primary" href="{{ object.get_absolute_url() }}">{{ _('detail') }}</a>
            </div>
        </div>
    </div>
</div>
