{% extends "core/page.html" %}

{% block extra_head %}
<script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
{% endblock extra_head %}

{% block section %}
<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id='body_editor'></div>
            </div>
            <div class="col-12">
                <form method="post">
                    {{ csrf_input }}
                    <div style="display:none;">
                        {{ form.as_p() }}
                    </div>
                    <input class="btn btn-primary" type="submit" value="{{ _('Update') }}">
                    <a class="ml-2" href="{{ object.get_absolute_url() }}">{{ _('Cancel') }}</a>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock section %}

{% block extra_body %}
<script>
    // Initialize the editor with a JSON schema
    var editor = new JSONEditor(document.getElementById('body_editor'), {
        ajax: false,
        ajaxBase: '',
        ajaxCredentials: false,
        compact: false,
        expand_height: false,
        disable_array_add: false,
        disable_array_delete: false,
        disable_array_reorder: false,
        enable_array_copy: false,
        disable_array_delete_all_rows: true,
        disable_array_delete_last_row: true,
        collapsed: false,
        disable_collapse: true,
        disable_edit_json: true,
        disable_properties: true,
        array_controls_top: false,
        form_name_root: 'root',
        iconlib: 'fontawesome5',
        remove_button_labels: false,
        no_additional_properties: true,
        remove_empty_properties: true,
        refs: {},
        required_by_default: false,
        keep_oneof_values: true,
        show_errors: 'interaction', // Valid values are 'interaction', 'change', 'always', and 'never'.
        template: 'default',
        theme: 'bootstrap4',
        display_required_only: false,
        show_opt_in: false,
        prompt_before_delete: true,
        object_layout: 'normal',
        enum_source_value_auto_select: true,
        startval: {{ object.body | safe }},
        schema: {
            "$schema": "https://json-schema.org/draft/2019-09/schema#",
            //"title": "JSON SCHEMA for tutorial publications",
            "title": "{{ object.title }}",
            //"description": "This is a JSON SCHEMA for the documentation generator My Workshop",
            "type": "object",
            "definitions": {
                "component" : {
                    "title": "{{ _('component') }}",
                    "headerTemplate": "\{\{ self.name \}\} (\{\{ self.quantity \}\})",
                    "type": "object",
                    "required": [
                        "name",
                        "quantity",
                        "unit",
                        "price",
                        "currency"
                    ],
                    "format": "grid",
                    "properties": {
                        "name": {
                            "title": "{{ _('name') }}",
                            "type": "string",
                            "default": "-",
                            "minLength": 1
                        },
                        "quantity": {
                            "title": "{{ _('quantity') }}",
                            "type": "number",
                            "format": "number",
                            "default": 1,
                            "minimum": 0
                        },
                        "unit": {
                            "title": "{{ _('unit') }}",
                            "type": "string",
                            "default": "-",
                            "enum": [
                                "-",
                                "g",
                                "kg",
                                "l",
                                "ml",
                                "m",
                                "cm",
                                "mm",
                                "m²",
                                "cm²",
                                "mm²"
                            ]
                        },
                        "price": {
                            "title": "{{ _('price per unit') }}",
                            "type": "number",
                            "multipleOf": 0.01,
                            "default": 0,
                            "minimum": 0
                        },
                        "currency": {
                            "title": "{{ _('currency') }}",
                            "type": "string",
                            "default": "EUR",
                            "enum": [
                                "EUR",
                                "USD"
                            ]
                        },
                        "slug": {
                            "title": "{{ _('publication slug') }} ({{ _('optional') }})",
                            "type": "string"
                        }
                    }
                },
                "tool" : {
                    "title": "{{ _('tool') }}",
                    "headerTemplate": "\{\{ self.name \}\} (\{\{ self.quantity \}\})",
                    "type": "object",
                    "required": [
                        "name",
                        "quantity",
                        "unit"
                    ],
                    "format": "grid",
                    "properties": {
                        "name": {
                            "title": "{{ _('name') }}",
                            "type": "string",
                            "default": "-",
                            "minLength": 1
                        },
                        "quantity": {
                            "title": "{{ _('quantity') }}",
                            "type": "number",
                            "format": "number",
                            "default": 1,
                            "minimum": 0
                        },
                        "unit": {
                            "title": "{{ _('unit') }}",
                            "type": "string",
                            "default": "-",
                            "enum": [
                                "-",
                                "g",
                                "kg",
                                "l",
                                "ml",
                                "m",
                                "cm",
                                "mm",
                                "m²",
                                "cm²",
                                "mm²"
                            ]
                        },
                        "slug": {
                            "title": "{{ _('publication slug') }} ({{ _('optional') }})",
                            "type": "string"
                        }
                    }
                },
                "image": {
                    "title": "{{ _('Image') }}",
                    "description": "{{ _('Paste the image ID.') }}",
                    "type": "string",
                    "links": [{
                            "rel": "{{ _('Detail') }}",
                            "href": "/images/\{\{ self \}\}/",
                            "class": "text-primary"
                        },
                        {
                            "rel": "\{\{ self \}\}",
                            "href": "/images/\{\{ self \}\}/thumbnail/",
                            "mediaType": "image"
                        }
                    ]
                },
                "textarea": {
                    "title": "{{ _('textarea') }}",
                    "type": "string",
                    "format": "markdown"
                }
            },
            {% if object.type.has_steps %}
            "required": ["parts", "supply", "tools", "steps"],
            "properties": {
                "parts": {
                    "title": "{{ _('Parts') }}",
                    "type": "array",
                    "format": "table",
                    "items": { "$ref": "#/definitions/component" }
                },
                "supply": {
                    "title": "{{ _('Supply') }}",
                    "type": "array",
                    "format": "table",
                    "items": { "$ref": "#/definitions/component" }
                },
                "tools": {
                    "title": "{{ _('Tools') }}",
                    "type": "array",
                    "format": "table",
                    "items": { "$ref": "#/definitions/tool" }
                },
                "steps": {
                    "title": "{{ _('Steps') }}",
                    "type": "array",
                    "format": "tabs",
                    "minItems": 1,
                    "items": {
                        "title": "{{ _('Step') }}",
                        "type": "object",
                        "headerTemplate": "{{ _('Step #') }}\{\{ i1 \}\} - \{\{ self.title \}\}",
                        "required": [
                            "title",
                            "body",
                            "images"
                        ],
                        "properties": {
                            "title": {
                                "title": "{{ _('Title') }}",
                                "type": "string"
                            },
                            "body": { "$ref": "#/definitions/textarea" },
                            "images": {
                                "title": "{{ _('Images') }}",
                                "type": "array",
                                "format": "tabs-top",
                                "items": { "$ref": "#/definitions/image" }
                            }
                        }
                    }
                }
            }
            {% else %}
            "required": ["paragraphs"],
            "properties": {
                "paragraphs": {
                    "title": "{{ _('paragraphs') }}",
                    "type": "array",
                    //"format": "tabs-top",
                    "minItems": 1,
                    "items": {
                        "oneOf": [
                        {
                            "title": "{{ _('textarea') }}",
                            "type": "object",
                            "required": ["textarea"],
                            "properties": {
                                "textarea": {"$ref": "#/definitions/textarea" }
                            }
                        },
                        {
                            "title": "{{ _('image') }}",
                            "type": "object",
                            "required": ["image"],
                            "properties": {
                                "image": {"$ref": "#/definitions/image" }
                            }
                        }
                        ]
                    }
                }
            }
            {% endif %}
        }
    });

    editor.on('change', () => {
        document.getElementById('id_body').value = JSON.stringify(editor.getValue());
    });
</script>
{% endblock extra_body%}
