{% extends "core/page.html" %}

{% block section %}
<section class="my-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-lg-8">
                <h1>{{ object.title }}</h1>
                <form method="post">
                    {{ csrf_input }}
                    {{ as_crispy_form(form) }}
                    <input class="btn btn-primary" type="submit" value="{{ _('Update') }}">
                    <a class="ml-2" href="{{ object.get_absolute_url() }}">{{ _('Cancel') }}</a>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock section %}
