{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Connections" %}{% endblock %}

{% block content %}
<h1 class="title">{% trans "Account Connections" %}</h1>

{% if form.accounts %}
<p class="content">{% blocktrans %}You can sign in to your account using any of the following third party accounts:{% endblocktrans %}</p>

<form method="post" action="{% url 'socialaccount_connections' %}">
    {% csrf_token %}

        {% if form.non_field_errors %}
        <div id="errorMsg">{{ form.non_field_errors }}</div>
        {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>{% trans 'provider' %}</th>
                <th>{% trans 'user' %}</th>
            </tr>
        </thead>
        <tbody>
        {% for base_account in form.accounts %}
        {% with base_account.get_provider_account as account %}
        <tr>
            <td>
                <input id="id_account_{{ base_account.id }}" type="radio" name="account" value="{{ base_account.id }}"/>
            </td>
            <td>
                <span class="icon">
                    <i class="fab fa-{{account.get_brand.id}}" aria-hidden="true"></i>
               </span>
               <span>{{account.get_brand.name}}</span>
            </td>
            <td>{{ account }}</td>
        </tr>
        {% endwith %}
        {% endfor %}
        </tbody>
    </table>

        <div class="field">
            <div class="control">
              <button class="button is-small is-danger" type="submit">{% trans 'Remove' %}</button>
            </div>
        </div>

</form>

{% else %}
<p class="content">{% trans 'You currently have no social network accounts connected to this account.' %}</p>
{% endif %}

<h2 class="subtitle">{% trans 'Add a 3rd Party Account' %}</h2>

{% include "socialaccount/snippets/provider_list.html" with process="connect" %}

{% include "socialaccount/snippets/login_extra.html" %}

{% endblock %}
