{% extends "core/base.html" %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block page_css %}
{% render_bundle 'home' 'css' %}
{% endblock page_css %}

{% block page_js %}
{% render_bundle 'home' 'js' %}
{% endblock page_js %}

{% block page_content %}
<div class="columns">

    <div class="column is-3">
        {% if object.featured_image %}
        {% include 'publications/images/box.html' with image=object.featured_image %}
        {% else %}
        <article class="message is-info">
            <div class="message-body">
                <p>
                    {% translate 'You can add a featured image with <span class="tag">image: url-of-your-image</span>.' %}
                </p>
            </div>
        </article>
        {% endif %}

        {% if not object.tags %}
        <article class="message is-info">
            <div class="message-body">
                <p>
                    {% translate 'You can add a tags with <span class="tag">tag: your tag name</span>.' %}
                </p>
            </div>
        </article>
        {% endif %}
    </div>

    <div class="column is-6">
        {% include 'publications/elements/headline.html' %}

        {% include 'publications/elements/tags.html' %}

        {% include 'publications/elements/info.html' %}

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% include "core/forms/bulma.html" %}

            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit" name="save">{% translate "Save" %}</button>
                    <button class="button is-light" type="submit" name="continue">{% translate "Save and continue editing" %}</button>
                    <a href="{{ object.get_cancel_url }}" class="button is-ghost">{% translate "Cancel" %}</a>
                </div>
            </div>
        </form>
    </div>

    <div class="column is-1 is-offset-2">
        <div class="sticky">
            <br>
            <a href="#">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-chevron-up"></i>
                    </span>
                    <span>{% translate 'Top' %}</span>
                </span>
            </a>
        </div>
    </div>
</div>
{% endblock page_content %}
