{% extends "core/base.html" %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block robots %}
<meta name="robots" content="all, index, follow">
{% endblock robots %}

{% block page_css %}
{% render_bundle 'home' 'css' %}
{% endblock page_css %}

{% block page_js %}
{% render_bundle 'home' 'js' %}
{% endblock page_js %}

{% block page_content %}
<div class="columns">
    <div class="column is-2">
        <div class="sticky">
            <br>

            <div class="block">
                <aside class="menu">
                    {% for menu in object.menus %}
                    {% include 'core/nav/aside_menu.html' %}
                    {% endfor %}
                </aside>
            </div>

            <div class="block">
                {% include 'publications/pagination/results.html' %}
            </div>
        </div>
    </div>

    <div class="column is-6 is-offset-1">
        {% for object in page_obj %}
        <div class="block mb-6">
            {% if object.picture %}
            {% include 'publications/cards/image.html' %}
            {% else %}
            {% include 'publications/cards/publication.html' %}
            {% endif %}
        </div>
        {% endfor %}

        {% include 'publications/pagination/nav.html' %}
    </div>

    <div class="column is-2 is-offset-1">
        <div class="sticky">
            <br>
            <aside class="menu">
                {% include 'core/nav/aside_menu.html' with menu=publication_create_menu %}
            </aside>
        </div>
    </div>
</div>
{% endblock page_content %}
